# PHYS 308 - Notebook 02 - Python Tutorial - Part B


Interactive learning notebook developed by J. Dolen for PHYS 308 at Purdue University Northwest

## Introduction

In Noteboook 01 we already covered:
* Variable assignment (automatically create an int/float/string object and assign it a value)
* Printing information to the screen
* Requesting input from the user
* Arithmetic (built in math operations)
* Variable modifiers (x+=1)

Today we will cover
* The math package (use this as an introduction to packages and modules)
* Lists
* if statements
* While loops
* for loops
* Functions

## The math package

Lets try to use typical math functions:

In [ ]:
log(100)

NameError: name 'log' is not defined


Oops it didn't work. Python's core is designed to be as simple and efficient as possible. While some functions like `print()` are **built-in functions**, that is, they are part of Python's core functionality, other functions must be imported from other modules.

Outside of its core, Python includes a **Standard Library**, a collection of modules that comes with every installation of Python, each of which contains many useful functions. These are easy to use because they are already installed with Python. In other cases you may need to install a separate Python **third-party package** in order to access a given function.

The `log()` function, for example, must be imported from the `math` module which exists in the Standard Library.

The math module is documented here: https://docs.python.org/3.12/library/math.html

We can import just one function from a module using the syntax:

`from module import function`

In [3]:
from math import log   # from the math package, import the log function

In [4]:
log(100)

4.605170185988092

As you can see, when you call `log()` with just one argument *x* like `log(x)`, it calculates the natural logarithm of x (base *e*).

Look up the documentation for `math` linked above.  You can see that you can also change the base of `log()` by passing a second argument:

In [5]:
log(100,10)

2.0

Base 10 is so common that there is a separate function for base 10 log. This is also slightly faster.

In [8]:
from math import log10  # from the math package, import the log base 10 function

In [9]:
log10(100)

2.0

The same is true for a base 2 log:

In [19]:
from math import log2

In [21]:
log2(16)

4.0

As you know, the lograithm of a negative number is undefined for real numbers. Python handles this by giving you a "math domain error":

In [22]:
log(-39)

ValueError: math domain error

Good programming practice involves protecting your code from accidentally trying to take the log of a negative nymber by anticipating this and adding in a guard clause. We haven't learned `if` statements yet, but here is an example of how we could do that:

In [ ]:
number = -39

if number > 0:
    print(math.log(number))
else:
    print("Error: Cannot calculate the logarithm of a non-positive number")

This is known as defensive programming.

There are lots of other useful functions in the mass package like `sin()`, `cos()`, and `tan()`. We can import these individually in one line.

There are also some constants like `pi`

In [11]:
from math import sin, cos, tan  # from the math package, import sine, cosine, tangent functions
from math import pi             # import the variable pi
print(pi)

3.141592653589793

Note that trig functions in Python expect the argument to be in radians:

In [12]:
sin(90)  #sin expects radians

0.8939966636005579

In [13]:
sin(pi/2) # argument in radians

1.0

Luckily `math` also contains useful functions to convert degrees to radians and vice versa:

In [14]:
# There are also functions to convert to degrees or radians
from math import degrees, radians

In [15]:
degrees(pi/2) # convert radians to degrees

90.0

In [16]:
radians(180) # Convert x degrees to radians

3.141592653589793

In [17]:
# You can always do the conversion by hand instead
deg = 90
rad = deg*pi/180
print(rad)

1.5707963267948966

You can raise a number to some power in Python using the notation `4**2` or take a square root using the notation `4**(1/2)`. Notice you don't need the math module to do this.

In [23]:
4**2

16

In [24]:
4**(1/2)

2.0

Still, the math module contains dedicated functions to perform these operations. These are more optimized and often faster.

In [25]:
# you don't need the math package to do sqrt and pow, but the math functions are faster
from math import sqrt, pow

In [26]:
x=4.5**2 ## Built-in raising something to the 2nd power
y=pow(4.5,2) ## Using the math package and the function pow to raise something to the 2nd power
print(x,y)

20.25 20.25

In [27]:
x=5**(1/2)
y=sqrt(5)
print(x,y)

2.23606797749979 2.23606797749979

In [28]:
# There is also an exponential function and the constant e
from math import exp, e

In [29]:
print(e)

2.718281828459045

In [30]:
exp(2)  #  e**2

7.38905609893065

In [31]:
from math import fabs, factorial

In [32]:
factorial(3)  # Automatically calculates 3*2*1 = 6

6

In [33]:
fabs(-5) # Find the absolute value

5.0

In [34]:
from math import factorial as fact # you can change the name on import

In [35]:
fact(4)

24

You don't have to import each function individually. You can do them all at once with *. This is generally not advised - another package may have a funciton with the same name as one of the ones you imported and this could cause problems. We can still try it:

In [ ]:
from math import *

In [ ]:
atan(pi)

1.2626272556789115

Indeed this works. Still, it is not good practice. For instance, if you were to do both `from math import *` and `from numpy import *` then you would have a namespace collision. That is, both `numpy` and `math` include many functions with the same names and you wouldn't know which module you were pulling the function from.

In [39]:
from math import *
from numpy import *
sin(3.1416/2)

np.float64(0.9999999999932537)

If you don't want to individually important functions using the syntax `from module import function`, and instead want access to all of the functions in a module, a better practice is to do `import module.`

In [40]:
import math

Important Note:

If you just do `import math` you still then need to tell python where to find the function in order to use it.

Even though this is more typing, this is often a nice way of doing things so you always know which function is coming from which package (log may also be defined in other packages)

In [ ]:
math.log(3901)

8.268988209506656

This practice, called 'namespacing,' is highly recommended in scientific computing as it makes your code self-documenting and prevents errors when using multiple libraries. You know exactly where the `log()` function is coming from.

Now that we have imported the entire module, we can check what is inside using the built-in function `help()`

In [41]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

We can also see what the math module can do using the built-in function `dir()`

In [42]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

### Example 2.2

Convert from polar coordinates r, theta (in degrees) to Cartesian coordinates x,y

In [ ]:
from math import sin,cos,pi
r = float(input("Enter r:"))
d = float(input("Enter Theta in degrees "))

theta = d*pi/180
x = r*cos(theta)
y = r*sin(theta)

print("x =",x,"y =",y)

Enter r:10
Enter Theta in degrees 45
x = 7.0710678118654755 y = 7.071067811865475

Better, write it up with comments:

In [ ]:
from math import sin,cos,pi

# Ask the user for the values of r and theta
r = float(input("Enter r: "))
d = float(input("Enter theta in degrees: "))

# Convert the angle to radians
theta = d*pi/180

# Calculate the equivalent Cartesian coordinates
x = r*cos(theta)
y = r*sin(theta)

# Print out the results
print("x = ",x,", y = ",y)

***---Begin Exercise 02-1***

Calculate the magntiude of the vector $\vec{A}$ = (4, 23, 19) using the formula

$|\vec{A}| = \sqrt{A_x^2+A_y^2+A_z^2}$

In [ ]:
from math import sqrt, pow

Ax = 4
Ay = 23
Az = 19

Check the math module documentation to find a function which will determine the greatest common denominator of two numbers. Use this functiuon to determine the greatest common denominator of 42 and 56.

The period T of a simple pendulum is given by the formula $T=2\pi\sqrt\frac{L}{g}. Write Python code that calculates the period of a pendulum.

Define variables for the length L = 2.0 meters and the acceleration due to gravity g = 9.81 m/sÂ².

Use the pi constant and the sqrt() function from the math module.

***----End Exercise----***

## The if statement

Do something only if a condition is met

**Important note**
- In python indentation is used to separate code blocks. This is different from other languages where brackets are typically used to seperate code blocks.
- In the example below the indentend code will only run if the if statement is satisfied

In [ ]:
x = int(input("Enter a whole number no greater than ten: "))
if x>10:  # if the number is greater than 10, do what comes after the colon and is indented
    print("You entered a number greater than ten")
    print("Setting the number to 10")
    x=10
print("Your number is",x)

Enter a whole number no greater than ten: 99
You entered a number greater than ten
Setting the number to 10
Your number is 10

#### Condition examples

(Comparison operators)

* if x==1:     Check if x=1 note the double equals sign  
* if x>1:      Check if x is greater than 1
* if x>=1:     Check if x is greater or equal to 1
* if x < 1:      Check if x is less than 1
* if x<=1:     Check if x is less than or equal to 1
* if x!=1:     Check if x is not equal to 1

#### Logic operators

* and: require that two statements are true
* or: require that one statement or the other statement is true
* not: require that something not be true

In [ ]:
x = int(input("Enter a whole number between 1 and 10: "))
if x>=10 or x<1:
    print("You entered a number greater than ten or less than one")
    print("Setting the number to 10")
    x=10
print("Your number is",x)

Enter a whole number between 1 and 10: 5
Your number is 5

***----Begin Exercise 02-2----***

Write code to check if an inputed number is even and greater than 50.

Write code to check if an inputed number is even and not equal to 4, or that it is odd and not equal to 5.

***----End Exercise----***

#### if, else, elif (else if)

In [ ]:
x = int(input("Enter a whole number no greater than ten: "))
if x>10:
    print("Your number is too big")
else:
    print("Your number is okay")

Enter a whole number no greater than ten: 5
Your number is okay

In [ ]:
x = int(input("Enter a whole number no greater than ten: "))
if x>10:
    print("Your number is too big")
elif x>=9:
    print("Your number is okay but you are getting close to 10")
else:
    print("Your number is okay")

Enter a whole number no greater than ten: 55
Your number is too big

Note: Be careful with roundoff errors and if statements. Don't require a float to be exactly equal to another float:

In [ ]:
if (1/50.0)*50.0 == 1:
    print ("condition satisfied")
else:
    print ("nope")

condition satisfied

In [ ]:
if (1/49.0)*49.0 == 1:
    print ("condition satisfied")
else :
    print ("nope")

nope

When checkign equality of floating point numbers this is much safer:

In [ ]:
if (1/49.0)*49.0 - 1.0 <0.00001:  # Check if the absolute difference is smaller than a tiny tolerance.
    print ("condition satisfied")
else :
    print ("nope")

condition satisfied

There is also a function in the math module that can help

In [ ]:
from math import isclose

if isclose( (1/49.0)*49.0, 1):
    print("This is close to 1")
else:
    print("This is not close!")

This is close to 1

***--- Begin Exercise---***

Ask the user to input the wavelength of a form of electromagnetic radiation in nanometers (nm). Write a program that classifies the radiation based on the following (simplified) ranges:

* Less than 1 nm: X-ray

* 1 nm to 400 nm: Ultraviolet

* 400 nm to 700 nm: Visible Light

* Greater than 700 nm: Infrared

You can reference the **Requesting input** section from Notebook 1 if you need to.

***---End Exercise---***

## Booleans

A boolean is a type which can only be two values: True or False

"True" and "False" are keywords in python (capital first letter)

In [ ]:
type(True)

bool

In [ ]:
# The comparison operators we learned earlier return a bool
x = 5
y = 6
print(x==y)
print(type(x==y))

False
<class 'bool'>

In [ ]:
# convert an int or float to a bool
print( bool(0))
print( bool(1))
print( bool(2))
print( bool(0.0))
print( bool(0.1))

False
True
True
False
True

In [ ]:
# We can use bools to better understand and, or, etc.
print(True and True)
print(True and False)
print(False and False)
print(True or True)
print(True or False)
print(False or False)

True
False
False
True
True
False

In [ ]:
print(not True)

False

In [ ]:
# "and" has higher priortiy than "or"
print (True and False or True)

# better to avoid any ambiguity and use brackets
print ( (True and False) or True)

True
True

In [ ]:
x = 5
# Chaining comparison operators
print(x<10)
print(4<=x<=6)
print(1<=x<=5)
print(1<=x<5)
print(5==x<7) # check if x is equal to 5 and x < 7
print(5==x>7)

# it may be less confusing to use "and" and "or" instead
print(x==5 and x<7)

True
True
True
False
True
False
True

In [44]:
# python keyword "is" returns true if two variables
#   point to the same object
x = 5.5
y = x
print(x is y)

z = 5.5
print(z is x) # Result is False.
# Even though they hold the same value, z and x are different objects in memory.
# Use '==' to check for value equality and 'is' to check for object identity.

True
False

## The while statement

In [ ]:
x = int(input("Enter a whole number no greater than ten: "))
while x>10: # stay in the indent until x is less than 10
    print("This is greater than ten. Try again")
    x = int(input("Enter a whole number no greater than then: "))
print("Your number is",x)

Enter a whole number no greater than ten: 100
This is greater than ten. Try again
Enter a whole number no greater than then: 200
This is greater than ten. Try again
Enter a whole number no greater than then: 5
Your number is 5

### Break and continue

break is a python keyword which allows you to break out of a loop (if some condition is met)

In [ ]:
x = int(input("Enter a whole number no greater than ten or a number equal to 999:"))
while x>10: # stay in the indent until x is less than 10
    print("This is greater than ten. Try again")
    x = int(input("Enter a whole number no greater than then:"))
    if x==999:  # nested if statement
        break   # exit the while loop
print("Your number is",x)

Enter a whole number no greater than ten or a number equal to 999:100
This is greater than ten. Try again
Enter a whole number no greater than then:500
This is greater than ten. Try again
Enter a whole number no greater than then:999
Your number is 999

continue is a python keyword which allows you to skip all of the remaining code in a given iteration of a loop:

In [ ]:
i = 0
while i<10:
    i+=1
    print(i, end="") # by default print produces a new line but with end="" you can prevent this
    if i==5:
        print ("")
        continue
    print(" this one was not skipped")

1 this one was not skipped
2 this one was not skipped
3 this one was not skipped
4 this one was not skipped
5
6 this one was not skipped
7 this one was not skipped
8 this one was not skipped
9 this one was not skipped
10 this one was not skipped

#### Some examples

In [ ]:
#Example: even and odd integers
n = int(input("Enter an Integer:"))
if n%2==0:
    print("even")
else:
    print("odd")

Example from the book. Print the fibonocci sequence

In [ ]:
f1 = 1
f2 = 1
add_previous = f1+f2
while f1<=1000:
    print(f1)
    f1 = f2
    f2 = add_previous
    add_previous = f1+f2

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

In [ ]:
f1, f2 = 1,1
while f1<=1000:
    print(f1)
    f1,f2 = f2, f1+f2

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

## Lists

In [47]:
r = [ 1, 1, 2, 3, 5, 8, 13, 21]

In [48]:
print(r)

[1, 1, 2, 3, 5, 8, 13, 21]

In [49]:
x = 1.0
y = 1.5
z = -2.2
r = [ x, y, z]

In [50]:
print(r)

[1.0, 1.5, -2.2]

In [51]:
r = [ 2*x, x+y, z*5]

In [52]:
print(r)

[2.0, 2.5, -11.0]

In [53]:
r

[2.0, 2.5, -11.0]

In [54]:
r[0]

2.0

In [55]:
r[1]

2.5

In [56]:
r[2]

-11.0

In [57]:
# Example program. Calculate the magnitude of a vector
from math import sqrt
r = [ 1.0, 1.5, -2.2]
length = sqrt(r[0]**2 + r[1]**2 + r[2]**2  )
print(length)

2.8442925306655784

In [58]:
r = [ 1.0, 1.5, -2.2]
r[1] = 3.5   # change just one element of a vector
print(r)

[1.0, 3.5, -2.2]

In [59]:
r = [ 1.0, 1.5, "string"]
#total = sum(r) # python built in function to sum up the numbers in a list
print(len(r))

3

builtin functions for lists: sum, max, min, len, map

In [60]:
r = [ 1.0, 1.5, -2.2]
print(sum(r))
print(max(r))
print(min(r))
print(len(r))

0.2999999999999998
1.5
-2.2
3

In [61]:
# calculate the mean
r = [ 1.0, 1.5, 2.2]
mean = sum(r)/len(r)
print(mean)

1.5666666666666667

In [62]:
# map allows you to apply something to each element of a list
from math import log10
r = [ 1.0, 10.0, 300.]
logr = list(map(log10,r))  # lists allows you to return another list
print(logr)

[0.0, 1.0, 2.4771212547196626]

In [63]:
# Add to a list
r = [ 1.0, 1.5, 30]
r.append(6.1) # add a new element to the end of the list r
print(r)

[1.0, 1.5, 30, 6.1]

In [81]:
# Create an empty list
r=[]

In [82]:
r.append(5.1)
r.append(5.2)
r.append(5.3)
r.append(5.4)
r.append(5.5)
r.append(5.6)
r.append(5.7)
print(r)

[5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7]

In [83]:
# Remove an element from a list
print(r)
r.pop()  # remove the last element from a list
print(r)

[5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7]
[5.1, 5.2, 5.3, 5.4, 5.5, 5.6]

In [84]:
print(r)
r.pop(0)  # remove the 0th element from the list
print(r)

[5.1, 5.2, 5.3, 5.4, 5.5, 5.6]
[5.2, 5.3, 5.4, 5.5, 5.6]

In [85]:
# remove by value instead of index
print(r)
r.remove(5.3)
print(r)

[5.2, 5.3, 5.4, 5.5, 5.6]
[5.2, 5.4, 5.5, 5.6]

In [72]:
r = [ 0.0, 1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1, 8.1, 9.1, 10.1]

In [73]:
r[0]

0.0

In [74]:
r[1]

1.1

#### Intro to slicing

Method to select certain elements of a list (also works for arrays and other objects we will learn later)

r[A:B] selects all elements of the array between element A of the list and element B of the list, inclusive of A but exclusive of B. That is, the slice starts at index A and goes up to but does not include index B. In interval notation this is [A,b) or [closed,open).

In [75]:
r

[0.0, 1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1, 8.1, 9.1, 10.1]

In [76]:
r[1:5]

[1.1, 2.1, 3.1, 4.1]

In [77]:
# last element of list
r[-1]

10.1

In [80]:
# second to last element of list
r[-2]

9.1

In [ ]:
# Element 2 to the end of the list
r[2:]

[2.1, 3.1, 4.1, 5.1, 6.1, 7.1, 8.1, 9.1, 10.1]

In [ ]:
#Beginning of the list to element 2 exclusive
#    (element 2 is not included)
r[:2]

[0.0, 1.1]

## For Loops


Loop over the elements of a  list or array

In [ ]:
r = [1,3,"hello",4]
for n in r:
    print(n)
print("Done with loop")

1
3
hello
4
Done with loop

There is also a python tool that allows you to automatically loop through a large range:

https://docs.python.org/3/library/stdtypes.html#typesseq-range

The `range` function generates a sequence of numbers, starting from start (inclusive, defaults to 0), going up to but not including stop, and incrementing by step (defaults to 1).

`range(stop)`

`range(start, stop[, step])`

In [ ]:
for n in range(20):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for n in range (2,8):
    print(n)

2
3
4
5
6
7

In [ ]:
for n in range (2,20,2):
    print(n)

2
4
6
8
10
12
14
16
18

In [ ]:
for n in range (20,2,-2):
    print(n)

20
18
16
14
12
10
8
6
4

In [ ]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(1, 15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(0, 15, 5))

[0, 5, 10]

In [ ]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

***----Begin Exercise 02-3----***

Loop over the following list and print out each element of the list. Also print out the total number of entries in the list and the sum of all the elements. Please do this in two ways:

1. By hand: Within the loop keep a running count of the number of list entries and also calculate the sum.
2. Using the built-in functions len() and sum()

In [ ]:
r = [0.4, 0.5, -0.1, 4.0, -1.2, 5.9, 0.4, 0.5]

Use the range function to loop from -20 to 140 in steps of 2. Print out every iteration except for 2, 8, 10, 128, and any number within 30<=number<=40. For every value you skip print "SKIP".

***----End Exercise----***

## Defining a function

So far, we've been using built-in functions like `print()` and functions from the math module like `sqrt()`. We can also write our own functions. This is an extremly useful way to avoid repeating yourself in your code.

A function is a reusable block of code that performs a specific, named action. You define the steps for a task once and then "call" the function by its name whenever you need to perform that task.

Here is a simple function to square a number:

In [86]:
def square(x):
    return x**2

In [ ]:
square(4)

16

In [87]:
# the function is reusable
square(9)

81

When you define a function it is good practice to leave a comment describing what the function does, what arguments it takes, and what it returns. This is typically done with a docstring which a way of creating a multi-line comment in Python. Here is the typical good-practice way of writing the same function:

In [88]:
def square(x):
  """
  Calculates the square of a number.

  Args:
    x: An integer or float.

  Returns:
    The square of x (x**2).
  """
  return x**2

The docstring comment also allows us to use `help()` to check what the function does.

In [89]:
help(square)

Help on function square in module __main__:

square(x)
    Calculates the square of a number.

    Args:
      x: An integer or float.

    Returns:
      The square of x (x**2).

We can also write a function which calculates the factorial of an inputed number n:

In [90]:
def factorial(n):
    fact = 1.0
    # Loop through all integers from 1 up to and including n.
    # The range function's second argument is exclusive, so we use n+1.
    for i in range(1,n+1):
        print(i)
        # Multiply the current running product by the next integer.
        fact*=i #shorthand for fact = fact * i.
    print("Done with loop")
    return fact

In [91]:
factorial(3)

1
2
3
Done with loop

6.0

Or following good practices:

In [92]:
def factorial(n):
  """Calculates the factorial of a non-negative integer.

  The factorial of a number is the product of all integers from 1 to that number.
  For example, the factorial of 4 (written as 4!) is 1 * 2 * 3 * 4 = 24.

  Args:
    n: A non-negative integer.

  Returns:
    The factorial of n as an integer.

  Raises:
    ValueError: If n is not a non-negative integer.
  """
  # Check if the input is not an integer or if it's a negative number.
  if type(n) != int or n < 0:
    print("Input must be a non-negative integer.")
    return

  # Handle the base case where the factorial of 0 is 1
  if n == 0:
    return 1

  # Calculate the factorial using a loop
  result = 1
  for i in range(1, n + 1):
    result *= i

  return result

In [93]:
factorial(4)

24

In [94]:
factorial(4.0)

Input must be a non-negative integer.

In [95]:
factorial(-4)

Input must be a non-negative integer.

***----Begin Exercise 02-4----***

Define a function which calculates the area of a rectangle. Take as input the length and the width. Test it by calculating the area of a rectangle with length = 8 meters and width = 3 meters. Test it again, this time using length = 1000 m and width = 254 m.

***----End Exercise ----***