# PHYS 308 - Notebook 01 - Python Tutorial - Part A

Interactive learning notebook developed by J. Dolen for PHYS 308 "Scientific Computing 1" at Purdue University Northwest

Make sure you click on **File -> Save a Copy In Drive** in order to save your version of this notebook in your Google Account.

## Introduction

Python is a programming language which is very commonly used in physics, engineering, and in industry. It is an interpreted high-level language which focusses on code readability. There are thousands of external python packages which extend python's capabilities and make it very useful for calculations, plotting, and many other scientific tasks.

## Code and comments

Anything you write in a Code cell will be interpreted and run when you press "Shift Enter"

You can also leave comments using the # symbol. Python will not run anything on the same line after the #.

In [ ]:
x=3
# This text is a comment
y=4 # This text is also a comment. Use comments to document your code when necessary.
z=x+y #In this case the code is self explanatory so no comment is needed
print(z)


m = 53 # kg
a = 3.0 # m/s^2
force = m*a # Calculate force in Newtons using Newton's laws
print ("Force = ",force," N")

7
Force =  159.0  N

### Printing to the screen - First Look

In Python print() is a built-in function which displays your specified message to the screen. We can tell print() is a python function because it is a word followed by round parentheses.

Note: We can always look up the details and options of Python built-in functions by reading the Python documentation https://docs.python.org/3/library/functions.html#print

***Basic usage - Printing Strings***

Anything you put inside quotes inside the parentheses of the print function will be displayed to your screen. The text inside the quotes is known as a <font color=red>string</font>

In [ ]:
print("Hello world") # print one string to the screen

Hello world

<p style="background-color: lightblue;">In the code cell above, try changing the text "Hello world" to somethign else. After you modify it press Shift + Enter to run the cell and execute the code.</p>

If you give print multiple strings it will automatically insert a space between the two strings

In [ ]:
print("First","Second") # print two strings to the screen separated by a space (this is the default behavior)

First Second

You can change the behavior of print() by changing the function parameter sep. By default sep = " ", that is, by default it is a space. We can modify this:

In [ ]:
# print three strings sepbarated by a user defined separator using the function parameter sep ("keyword argument")
print("Cat","Dog","Horse",sep="<--->")

Cat<--->Dog<--->Horse

*In the code cell above, try changing the sep parameter to something else. I would suggest trying ":", "\t", and "\n". Any guesses on what  "\t" and "\n" mean?*

"\t is an escape sequence for a horizontal tab, and \n is the escape sequence for a new line.

By default print will automatically create a new line every time you execute it

In [ ]:
# print on two different lines
print("Cat")
print("Dog")

Cat
Dog

You can modify the print function to not create a new line by changing the function parameter end:

In [ ]:
# print on the same line with different statements
print("Cat",end="")
print("Dog")

CatDog

The default value for end is "\n" which is the Python "escape sequence" for a new line. The backslash "\\" is called an escape charcter which tells python to not print the "n" but instead insert something special. We can see that if we specify end="\n" we do indeed get a new line:

In [ ]:
# The default value for end is "\n" which is the character for a new line
print("Cat",end="\n")
print("Dog")

Cat
Dog

You don't need to specify end if you just want to use the default value of end:

In [ ]:
print("Cat")
print("Dog")

Cat
Dog

This means that if you print nothing or pring an empty string it will automatically give you a new line:

In [ ]:
print("Cat")
print()
print("Dog")
print("")
print("Bunny")

Cat

Dog

Bunny

You can also use escape sqeuence "\n" to force a new line in the middle of a print statement:

In [ ]:
# Use "\n" to force a new line in the middle of a print statement:
print("Cat\nDog")

Cat
Dog

You can also try other escape sequences like "\t" for tab and "\\ \\" to actually make a backslash

In [ ]:
# Use "\t" to print a tab
print("Cat\tDog")

Cat	Dog

In [ ]:
# Use "\\" to print one backslash
print("Cat\\Dog")

Cat\Dog

**Exercise 01-1:**

1. Write code in the code cell below using *the* print function and run the code (shift+enter) such that it displays the following:

```text
Physics is fun

        So is writing python code
    
Physics+Math+Coding

        = Fun
```

Hints: (1) Utilize the tab character (2) Utilize the sep keyword argument to make plus signs between each word (3) think about ways in which you could add an extra line between each printed statement.

2. In a single code cell, use one `print()` statement to produce the following output:

```text
Planets:
Mercury, Venus, Earth
```

**----End Exercise----**

We can use the pyton built-in function type() to check what type of object the print function is

In [ ]:
type(print)

builtin_function_or_method

We can also use the built-in function help() to read the documentation on print()

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

One last note about print():

The definition of this function changed between python 2 and python 3

If you are trying to run code from and old textbook you will have to update the print functions!

### Variable assignment and output

Variables are used to hold values

In [ ]:
# create a variable with name x and assign the value 3 to that variable
x=3

In [ ]:
# print the variable contents to the screen.
# note: the print output is the value assigned to the variable and not the name of the variable

print (x)

3

In [ ]:
# reassign the variable x
x=4

In [ ]:
print(x)

4

In [ ]:
print("The value of x is", x,", isn't that cool!")    # You add some text  before and after the variable

The value of x is 4 , isn't that cool!

In [ ]:
g=h=j=2 # Assign multiple variables to the same value

In [ ]:
print(g,h,j)

2 2 2

In [ ]:
j=3
print(g,h,j)

2 2 3

In [ ]:
x = 7
y = x
print(y)
x = 8
print(y)

7
7

In [ ]:
y,z = 5, 3.4   # Assign multiple variables at once (y = 5 and z = 3.4)

In [ ]:
print(x,y,z)  # You can print multiple variables ( they will be separated by a space)

8 5 3.4

In [ ]:
print(x,y,z,sep="; ") # Print the variables again making them more readable

8; 5; 3.4

### Variable names

Python has rules about what can be used as a variable name.

- Letters and underscores are okay.
- A variable name cannot start with a number but it may contain a number
- Other characters are not okay (dash, backslash, plus symbol etc.)

In [ ]:
x = 5  # okay
CAPITAL = 34 # okay
neutrino_1 = 2.59 #okay
_galaxy5 = 3.2 # okay

In [ ]:
25pro = 5.3 # not okay

SyntaxError: invalid decimal literal (1572090017.py, line 1)

In [ ]:
detector_minus_5 = 0.3 # okay
detector-5 = 0.3 # not okay

In [ ]:
hydrogen_plus_helium = 5 # okay
hydrogen+helium = 5 # not okay

**----Begin Exercise 01-2----**

In the code cell below please do the following:

1. Define a variable which stores Planck's constant (typically one uses the symbol h): $6.62 \times 10^{-34} \text{m}^2 \text{kg/s}$
    
    - Hint: For scientific notation you can use the symbol "e-34" to denote $10^{-34}$
<br>
<br>
2. Define a variable which stores the value of $\pi$: 3.14159265

3. Use the previously defined variables to define the reduced Planck's constant (Planck's constant divided by $2\pi$) for which we often use the name "h-bar". Be careful, the common way we write this won't work as a variable in python!

4. Print all 3 variables to the screen with text labels

**----End Exercise----**

### Variable types

Every value in Python has a type. When you assign a value to a variable, the variable holds a reference to that value and its type. Common basic types include int, float, string or complex variable.

* int = "Integer"
    * Variable type used to store integer numbers (no decimals)
* float = "Floating point number"
    * Variable type used to store decimal numbers
* str = "String"
    * Variable type used to store text and manipulate text
* complex = "Complex number"
    * Variable type used to store complex numbers (both the real and imaginary part)


Python is "dynamically typed". This means that you typically do not have to define the type (it figures it out for you). It also means that one variable name can be first defined as one type and later changed to contain a different type.

In [ ]:
x = 5  #Python determines that this is an integer
type(x)

In [ ]:
y = 5.5 #Python determines that this is a floating point number
type(y)

In [ ]:
z="hello" #Python determines that this is a string
type(z)

In [ ]:
m = 8 + 2j #Python determines that this is a complex number (Python uses j instead of i for the imaginary component)
type(m)

In [ ]:
k = complex(2,7) # Python also includes a funciton which can be uses to define complex numbers. Syntax: complex(real, imaginary)
type(k)
print(k)

In [ ]:
# You can print the real and imaginary part of complex number using the attributes "real" and "imag"
print ("The real part of complex number is : ",end="")
print (k.real)

print ("The imaginary part of complex number is : ",end="")
print (k.imag)

In [ ]:
print(x,y,z,k,sep=", ") #you can print variables of multiple types at once

**----Begin Exercise 01-3----**

Four variables are defined below. In the code cell below each variable definition use the type() function to determine the type of previosly defined variable.

In [ ]:
# Determine the type of a
a = "27"

In [ ]:
# Determine the type of b
b = -59.0

In [ ]:
# Determine the type of c
c = -59

In [ ]:
# Determine the type of d after its final assignment
d = 5.3e13
d = "whatisthis"
d = 32

In [ ]:
# Determine the type of g
example_float = 15.5

example_int = 5
g = example_float + example_int

In the last example why was g assigned to be a float instead of an int?

**----- End Exercise-----**

<p style="background-color: magenta;"> <font color=white>----End Exercise----</font>   </p>

Python performs "implicit conversion" and automatically converts the int to a float when adding it to a float. If it were to instead convert the float to an int you would lose some information.

In [ ]:
# You can add together an int and a float. Python automatically makes the result a float.
print(x+y)
type(x+y)

In [ ]:
# You can add together an int and a complex type. Python automatically makes the result a complex type.
print(x+k)

In [ ]:
# You can add together two complex numbers. Python properly adds the real and imaginary parts seperately.
print(k)
print(m)
print(k+m)

### Converting between types

Python has built-in functions which convert a variable from one type to another:

In [ ]:
x = 5
print("type(x) = ",type(x))
print("x = ",x)

y = float(x) # float() function converts a variable to be of float type
print("type(y) = ",type(y))
print("y = ",y)

z = str(x) # str() function converts a variable to be of string type
print("type(z) = ",type(z))
print("z = ",z)

k = int(y) # int() function converts a variable to be of int type (note information loss float->int)
print("type(k) = ",type(k))
print("k = ",k)

j = int(z)
print("type(k) = ",type(k))
print("k = ",k)

m = complex(x) # complex() function can also be used to convert a int or float or string to a complex type
print("type(m) = ",type(m))
print("m = ",m)


n = complex("6+2j") # complex() function can also be used to convert a int or float or string to a complex type
print("type(n) = ",type(n))
print("n = ",n)

**----Begin Exercise----**

In [ ]:
#convert the following variables to integers
#  and print out the converted value
#  and the new type
b_float = -59.3
c_float = 23.5
d_float = 100.99

In [ ]:
#convert the following variables to strings
#  and define e_str and f_str to hold these values
#  and print out the converted value
#  and the new type
e_int = 94
f_float = -3.1

In [ ]:
# See what happens when you try to add e_str and f_str. Add them together then print the result to the screen.

In [ ]:
#convert the following variables to floats (note if either causes an error message)
h_int = 394
k_str = "hello"

**----End Exercise**----**

### Requesting input

You can use the built-in function input() to request input from

In [ ]:
x=input("Please enter the value of x: ")

In [ ]:
print(x)

In [ ]:
type(x)    # what type is this?

An input variable is always a string. It is easy to convert to a float:

In [ ]:
y=float(x)

In [ ]:
print(y)

In [ ]:
type(y)

***----Begin Exercise----***

Do the following in one line:
- define a variable
- request the user to input a number
- convert it to a float

***----End Exercise----***

Here is an example solution (first with two lines, then with one):

In [ ]:
x=float(input("Enter the value of x: "))

In [ ]:
print("The value of x is", x)

In [ ]:
x=float(input("Enter the value of x: "))  # you will get an error if you feed in a string

### Arithmetic

You can use Python as a calculator!

In [ ]:
x=10 # Assign the variable x to store the int 10

In [ ]:
y=2.3822  # Assign the variable y to store a float

In [ ]:
x+y # addition

In [ ]:
x-y # subtraction

In [ ]:
x*y # multiplication

In [ ]:
x/y # division

In [ ]:
x**y  # raising x to the power of y

In [ ]:
x//y  # integer division aka floor division (rounds the result down to the nearest integer)

In [ ]:
14//3

In [ ]:
-14//3

In [ ]:
x%y  # modulo (gives the remainder after x is divided by y)

In [ ]:
14%3  # 14/3 = 4 remainder 2

Why is modulo useful? You can use it to find if one number is divisible by a number or if a number is even or odd (by taking the modulo with 2)

***----Begin Exercise----***

1. Write code that asks a user for the mass (in kg) and velocity (in m/s) of an object. Then, calculate and print its kinetic energy using the formula $KE=
\frac{1}{2}mv^2$. The output should be a nicely formatted sentence.

2. Test if the following numbers are even or odd using the modulo operator

4045

-44

Hint: An even number modulo 2 will have 0 remainder

**----End Exercise----**

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




Quick example: The modulo operator can be very useful for sampling some fraction of numbers

In [ ]:
4%2 # 4 is even

In [ ]:
5%2 # 5 is odd

In [ ]:
for x in range(0, 2000):    # We will get to for statements and if statements later
    if x%100==0:
        print(x)

#### Order of operations

Python uses the standard order of operations
PEMDAS
(Parentheses
Exponents
Multiplication and Division
Addition and Subtraction)

**----Begin Exercise----**

calculate and print average velocity using the formula $v_{\text{avg}}=\frac{x_2-x_1}{t_2-t_1}$

In [ ]:
x1 = 1.5 # m
x2 = 24.4 # m
t1 = 13.3 # s
t2 = 19.1 # s

Calculate and print the following formula $k = g^{\frac{h}{j}}$

In [ ]:
g = 3.3
h = 12.4
j = 4.2

**----End Exercise----**

#### Arithmetic and type

In [ ]:
x,y = 1,2

In [ ]:
type(x+y)

In [ ]:
x,y = 1,2.5

In [ ]:
type(x+y)

In [ ]:
print(x+y)

In [ ]:
x,y = 1.5,2.5

In [ ]:
type(x+y)

Division never gives an int

In [ ]:
x,y = 4,2

In [ ]:
type(x/y)

In [ ]:
x,y = 5,2

In [ ]:
type(x/y)

In [ ]:
print(x/y)

#### Some notes on precision

In [ ]:
(1/50.0)*50.0

In [ ]:
(1/51.0)*51.0

In [ ]:
(1/59.3)*59.3

In [ ]:
(1/49.0)*49.0

Why aren't we getting exactly 1? Computers store numbers in binary (base-2), and some decimal fractions cannot be represented perfectly. This can lead to very small rounding errors for floating-point numbers. We will learn more about this in a future notebook!

#### Combine mathematical operations

In [ ]:
x = 6
y = 2

x+2*y

In [ ]:
x-y/2

In [ ]:
3*x**2

In [ ]:
x/2*y  #  x*y / 2

In [ ]:
2*(x+y)

python cannot rearrange an equation

In [ ]:
2*x=y

In [ ]:
x = 2*y # this is an assignment not an equation

In [ ]:
print(x)

In [ ]:
# The following statement doesn't make sense as an equation but it does make sense in python as an assignment
x = x + 1   # This statement takes the current value assigned to x (4), adds 1 to it, then reassigns x to be equal to the sum.

In [ ]:
print(x)

In [ ]:
x = 0
print(x)
x = x**2 - 2    # this is not a quadratic equation x = x^2 -2 , it is an assignment
print(x)

#### Variable modifiers

In [ ]:
x=4
print(x)
x+=1         # this is the same assigning x = x + 1
print(x)

In [ ]:
x=4
print(x)
x-=1         # this is the same assigning x = x - 1
print(x)

In [ ]:
x=4
print(x)

x*=2.5      # this is the same assigning x = x * 2.5
print(x)

In [ ]:
x=4
print(x)
x/=2        # this is the same assigning x = x / 2
print(x)

#### Multiple variable assignment

In [ ]:
x,y = 1, 2.5
print(x,y)

In [ ]:
z=4
x,y = 2*z+1, (x+y)
print(x,y)

In [ ]:
x,y = 3,4
print(x,y)

x,y = y,x   # swap variables ( more challanging in other languages)
print(x,y)

### Example Problem from Mark Newman "Computational Physics" Textbook

#### Example 2.1

Ball dropped from a tower. How far does it drop in a given ammount of time?

In [ ]:
h=float(input("Enter the height of the tower: "))
t=float(input("Enter the time interval: "))
s= (1/2)*9.8*t**2    # 1/2 g t^2
print("The ball has fallen",s,"meters")
print("The height of the ball is",h-s,"meters")

Same code but using a variable to store the acceleration due to gravity. This makes the code easier to read and you only need to define it once and you can use it many times.

In [ ]:
h=float(input("Enter the height of the tower in meters: "))
t=float(input("Enter the time interval in seconds: "))
g = 9.8  #Acceleration due to gravity in m/s^2
s= g*t**2/2   # 1/2 g t^2
print("The ball has fallen",s,"meters")
print("The height of the ball is",h-s,"meters")